<!doctype html>

<title>MMS: Member Management System</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="style.css" rel="stylesheet">
<link href="lib/material-design-lite/material.css" rel="stylesheet">


<header>
  <form rv-if="loggedOff" rv-on-submit="login">
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" name="user" id="user"/>
          <label class="mdl-textfield__label" for="user">Naam</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="password" name="password"/>
          <label class="mdl-textfield__label" for="password">Wachtwoord</label>
        </div>
      <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type='submit' value='login'>
  </form>
  <div>
    <label>{ user.name }</label>
  </div>
</header>

<content>
  <div rv-if="members.list"></div>
</content>

<script src="lib/lodash/lodash.min.js"></script>
<script src="lib/rivets/dist/rivets.bundled.min.js"></script>
<script src="lib/material-design-lite/material.min.js"></script>
<script src="http.js"></script>
<script>

  var context = {
    loggedOff: true,
    login: function (e) {
      var i, data = {};

      e.preventDefault();

      for (i=0; i<this.length; i++) {
        data[this[i].name] = this[i].value;
      }

      $http('/api/token').post(data)
        .then(function (res) {
          console.log("Res", res);
        })

      return false;
    }
  };

  rivets.bind(document.body, context);
</script>
