@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/lib/MaterialIcons-Regular.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    /* flex: 1; */
    display: flex;
    flex-direction: row;
}

header form {
    flex-direction: row;
    display: flex;
}

header form > .mdl-textfield{
    margin: 2em;
}
header form > input{
    align-self: center;
}

content {
    flex: 1;
    padding: 0 100px;
    max-width: 1000px;
}

#modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10000;
}
#modal:empty {
    display: none;
}
#modal > div {
    width: 600px;
    
}

[rv-on-click] {
    cursor: pointer;
}