body {
    display: flex;
    flex-direction: row;
}

header {
    flex: 1;
    max-width: 300px;
}

header form {
    flex-direction: column;
    display: flex;
}

header form > input {
    flex: 1;
}