.directory
backend/Cargo.lock
backend/target/
backend/mms.sublime-project
backend/mms.sublime-workspace
frontend/node_modules/
frontend/npm-debug.log
frontend/build/
frontend/dist/
build/
api-testing/node_modules/
node_modules/
.docker-cache/
npm-debug.log
