.directory
backend/Cargo.lock
backend/target/
frontend/node_modules/
frontend/npm-debug.log
frontend/build/
frontend/dist/
build/
api-testing/node_modules/
node_modules/
.docker-cache/
npm-debug.log
*.sublime-project
*.sublime-workspace
database/email_worker/target/
