<!doctype html>
<html>
  <title>Wolbodo:ledenlijst</title>
	<link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.files.favicon %>" sizes="256x256">

  <% for (var chunk in htmlWebpackPlugin.files.css) { %>
  <link href="/<%=htmlWebpackPlugin.files.css[chunk] %>" rel="stylesheet"></link>
  <% } %>
    
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <body>
    <div id="app"></div>
  </body>

  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <script src="/<%=htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>
</html>
