<img src="https://www.wlbd.nl/theme/wolbodo-2016/images/wolbodo-text-logo.svg?f3c3900d53" height="70px">
  <h1>Hoi {{data.nickname}}{{^data.nickname}}{{email}}{{/data.nickname}},</h1>
<p>
  Er is een wachtwoord reset aangevraagd door: IP (Geoip)
</p>
<p>
  Als jij dit niet hebt aangevraagd reply dan op dit mailtje,
</p>
<p>
  Anders kan je <a href="https://pms.wlbd.nl/password_reset?token={{data.token}}">hier klikken</a> om je nieuwe wachtwoord in te stellen.
</p>
<p>
  Groetjes, de WolboCore.
</p>
